<!DOCTYPE html>
<html>
  <head>
    <title>C# Job Board</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
  <h1 id="type">Job Board</h1>
  <p id="intro"> Welcome, This is a web site where you create a job posting</p>
  <a href="/Createform"><button id="btnLocation">Test it out!</button></a>
  </body>
</html>