#btnLocation {
  background-color: black;
  display:inline-block;
  padding:0.3em 1.2em;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:700;
  color: rgb(129, 11, 11);
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.37); */
  text-align:center;
  transition: all 0.2s;
}
#btnLocation:hover {
  border-color: rgba(255,255,255,1);
  transform: scale(1.1);
}
body {
  background-color: green;
  background: linear-gradient(rgb(0, 0, 0), rgb(255, 208, 1), rgba(0, 0, 0, 0.753));
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: block;
  padding: 1%;
  min-height: 100%;
  background-attachment: fixed;
  margin: 0;
  text-align: center;
}
body p {
color: whitesmoke;
}
#type {
  color: rgb(230, 230, 5);
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  margin: .5%;
  text-align: center;
}
#fluff {
  padding: 1%;
}
#center {
  text-align: center;
  list-style-position: inside;
  color: whitesmoke;
  list-style-type: circle;
  padding: 1%;
}