<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>C# Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
    <h1 id="type">Add a Job!</h2>
    <div class="fields">
      <form action="/jobs" method="post" id="fluff">
        <input id="title" name="title" type="text" placeholder="Enter the job title" required>
        <input id="description" name="description" type="text" placeholder="Enter the job description" required>
        <input id="phone" name="phone" type="text" placeholder="Enter the phone number" required>
        <input id="pay" name="pay" type="text" placeholder="Enter the yearly salary" required>
        <button type="submit" id="btnLocation">Go!</button>
      </form>
    </div>
  </body>
</html>