<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>C# Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
    <h1> The Job Board has been cleared!</h1>
    <form action="/">
      <button id="btnLocation"type="submit">Home</button>
    </form>
  </body>
</html>